.table-cell .title {
  padding-bottom: 8px;
  font-family: var(--font-semiBold), var(--font-default);
  font-size: var(--normal);
  color: var(--primary-color);
  text-align: left;
  overflow-wrap: break-word;
}
